
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    padding: 3rem 10.67%;
}

#mobile-menu {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 2rem 10.67%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
    z-index: 100;
}

header {
    height: fit-content;
    margin-bottom: 4rem;
    transition: .28s ease;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .23s ease;
}

main {
    display: grid;
    gap: 10.67%;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
    margin-right: 2rem;
    transition: .28s ease;
}

.nav-link:hover {
    color: var(--soft-red);
}

#Hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, .5fr);
    gap: 2rem;
}

.img {
    grid-column: span 2;
}

#Web3-block {
    width: 100%;
    height: auto;
}

#New {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 1.3rem;
    background-color: var(--very-dark-blue);
}

#New h2 {
    font-weight: 700;
    font-size: 2.8rem;
    margin-top: 2.6rem;
    color: var(--soft-orange);
}

.topic {
    border-bottom: 2px solid var(--dark-grayish-blue);
    padding: 2rem 0;
}

.topic h3 {
    color: var(--off-white);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .8rem;
    transition: .28s ease;
    cursor: pointer;
}

.topic h3:hover {
    color: var(--soft-orange);
}

.topic p,
.lead p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: var(--dark-grayish-blue);
}

.no-border {
    border-bottom: none;
}

h1 {
    font-weight: 800;
    font-size: 4rem;
    line-height: 3.8rem;
    color: var(--very-dark-blue);
}

.lead {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.lead button {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    padding: 12px 40px;
    border: none;
    background-color: var(--soft-red);
    color: var(--off-white);
    text-transform: uppercase;
    cursor: pointer;
    transition: .28s ease;
}

.lead button:hover {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}

#Trending {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem
}

.headline-img img {
    height: 8rem;
    float: left;
    margin-right: 2rem;
}

#Trending h2 {
    color: var(--grayish-blue);
    font-weight: 700;
    margin-bottom: 1rem;
}

#Trending h3 {
    color: var(--very-dark-blue);
    font-weight: 800;
    margin-bottom: 1rem;
}

#Trending p {
    color: var(--dark-grayish-blue);
    font-weight: 400;
    font-size: 1.1rem;
}

@media (min-width: 1441px) {
    body {
        padding: 3rem 10.67%;
    }
}